.js-projects-list-holder
  - if @projects.any?
    %ul.projects-list.content-list.admin-projects
      - @projects.each_with_index do |project|
        %li.project-row{ class: ('no-description' if project.description.blank?) }
          .controls
            = link_to 'Edit', edit_project_path(project), id: "edit_#{dom_id(project)}", class: "btn"
            %button.delete-project-button.btn.btn-danger{ data: { toggle: 'modal',
              target: '#delete-project-modal',
              delete_project_url: admin_project_path(project),
              project_name: project.name }, type: 'button' }
              = s_('AdminProjects|Delete')

          .stats
            %span.badge.badge-pill
              = storage_counter(project.statistics&.storage_size)
            - if project.archived
              %span.badge.badge-warning archived
          .title
            = link_to(admin_project_path(project)) do
              .dash-project-avatar
                .avatar-container.rect-avatar.s40
                  = project_icon(project, alt: '', class: 'avatar project-avatar s40', width: 40, height: 40)
              %span.project-full-name
                %span.namespace-name
                  - if project.namespace
                    = project.namespace.human_name
                    \/
                %span.project-name
                  = project.name

          - if project.description.present?
            .description
              = markdown_field(project, :description)

    = paginate @projects, theme: 'gitlab'
  - else
    .nothing-here-block 没有项目

  #delete-project-modal
